
header {
  background-color:whitesmoke;
}
nav {
  height: calc(100vh - 4rem);
}

a.navbar-brand.mx-auto, a.nav-link {
  color: black;
}

a.nav-link {
  transition: all 0.5s;
}

a.nav-link:hover {
  transform: scale(1.1);
}

/* a.btn.btn-outline-secondary.rounded-0.my-3:hover {
  background-color : pink;
} */

a.btn.my-3 {
  border-radius: 0;
  border: 1px solid black;
}

a.btn.my-3:hover {
  background-color: coral;
  color : white;
}

#user-icon {
  color : orange;
}

footer p {
  font-size:11px;
}

#empty {
  width: 50%;
  margin : 0 auto;
}

.abcRioButton {
  margin : 0 auto;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
