<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mini Wordpress</title>
  <link rel="stylesheet" href="./css/vueWysiwyg.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/mystyle.css">
</head>

<body>

  <header class="navbar navbar-light d-flex justify-content-between bd-navbar sticky-top" style="background-color:#00353f;">
    <!-- <div class="p-2">Home</div> -->
    
    <a class="navbar-brand mx-auto" href="#"><img src="./1678114134_68b672ac-bf69-4df6-8f13-ab4512ab0103.png" alt="logo"></a>
    <div class="p-2 dropdown">
      <a href="#" class="btn dropdown-toggle" style="color: pink;" data-toggle="dropdown"><i class="far fa-user-circle fa-lg my-1"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      
    </div>
  </header>

  <div class="container-fluid" id="articles">
    <div class="row">
      <div class="col-2">
        <nav class="nav flex-column border-right">
            <form action="#" @submit.prevent="filter" class="my-3 mx-2">
              <input type="Search" id="input-id" class="form-control ds-input" placeholder="Search Articles" v-model="keyword">
            </form>
            <a class="nav-link" href="#">Articles</a>
            <a class="nav-link" data-toggle="collapse" href="#collapseOne" @click.prevent="clearEditor">New Articles</a>
        </nav>
      </div>
      <div class="col-8">
        <!-- F O R M    A R T I C L E S  -->

        <div class="panel-group my-2" id="accordion">
      
          <div  id="collapseOne" class="panel-collapse collapse in" style="height:800px;">
            <form action="#">
              <input type="text" class="form-control my-2" v-model="title" placeholder="Enter the title...">
              <div> <wysiwyg v-model="text" /> </div>
              <a class="btn btn-outline-success my-3" @click.prevent="submitUpdate" v-if="update != false">Update</a>
              <a class="btn btn-outline-success my-3" @click.prevent="submit" v-else>Submit</a> <a class="btn btn-outline-danger my-3" data-toggle="collapse" href="#collapseOne" @click.prevent="clearEditor">Dismiss</a>
            </form>
          </div>
        </div>

        <!--   A R T I C L E S  C A R D  -->
          <div class="card" v-for="article in filtered">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <!-- <img class="img-thumbnail" src="./alisa-anton-63908-unsplash.jpg" alt="article-image"> -->
                </div>
                <div class="col-md-9">
                  <h4 class="card-title">{{ article.title }}</h4>
                  <footer><p>Created At : {{ new Date(article.created_at) }}</footer>
                  <a class="btn my-3" style="color: black"  data-toggle="collapse" :href="`#collapseExample${article._id}`" role="button" aria-expanded="false" aria-controls="collapseExample">
                    View Detail
                  </a>
                  <a class="btn btn-outline-success rounded-0 my-3" href="#collapseOne" data-toggle="collapse" @click="updateArticle(article)">
                    Edit
                  </a>
                  <a class="btn btn-outline-danger rounded-0 my-3" href="#" @click="deleteArticle(article._id)" role="button" >
                    Delete
                  </a>
                </div>
              </div>
  
              <div class="row">
  
                <div class="collapse w-100" :id="`collapseExample${article._id}`">
                  <div class="card card-body" v-html="article.content">
                  </div>
                </div>
              </div>
            </div>
          </div>
            

          </div>
          <div class="col-2">
            </div>
        </div>
    </div>
  

  <!-- S C R I P T    H E R E  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./js/vueWysiwyg.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="./js/main.js"></script>

</body>
</html>